html{
    font-size: 100%;

}

body{
    background-color: $bc;
    padding-top: 80px;
    display: grid;
    grid-gap: 1.4rem;
    grid-template-columns: repeat(4 , 247px);
    grid-template-rows: repeat(2 , 254px);
    justify-content: center;
    align-content: center;
    font-family: 'Barlow Semi Condensed', sans-serif;


    @media (max-width:1024px){
        grid-template-rows: repeat(3 , 254px);
    }

    @media (max-width: 375px){
        grid-template-columns: repeat(1 , 1fr);
        grid-template-rows: repeat(8 , 250px);
        grid-gap: 0rem;
    }

}

p#dscption{
    font-size: .73rem;
    line-height: 17px;
    opacity: .7;

     @media (max-width:1024px){
        font-size: .80rem;
    }
    
}

h3{
    font-size: 1.2rem;

    @media (max-width:1024px){
        font-size: 1.4rem;
        
    }

    @media (max-width:375px){
        font-size: 1.7rem;
        line-height: 25px;
    }
}