*{
    margin:0;
    padding: 0;

}

body{
    background: #e4e6eb;
}

.container{
    background: #e4e6eb;
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
    width:99.7%;
    /* border:2px solid red; */
    height:99.4vh;
    align-items:center;
    justify-content:space-evenly;
    
    
}

.about{
    /* border:2px solid pink; */
    text-align:left;
    width: 440px;
    align-self:center;
}

.about h1{
    font-size: 5rem;
    color:  #1877f2;
}

.about p{
    font-size: 33px;
    
}

#pro{
    font-weight: 550;
}

.login{
    display: flex;
    flex-flow:column wrap;
    align-items:center;
    justify-content:space-around;
    width: auto;
    height: auto;
}


.cred{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-flow:column wrap;
    align-items: center;
    border-radius: 10px;
    padding: 17px;
    box-shadow: 0 0 10px #88a5cc;
}

.form{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}


.cd{
    width: 330px;
    height: 43px;
    margin: 5px;
    padding: 3px 9px;
    font-size: 17px;
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-radius:7px;
    transition : all ease-in-out 120ms;
}

.cd:focus{
    outline: 1px solid #1877f2;
    border: none;
}

.btn{
    margin: 5px;
    padding: 3px 9px;
    font-size: 18px;
    border-radius:7px;
    border: 2px solid rgba(0, 0, 0, 0.507);
    color: white;

}

#btn-login{
    width: 350px;
    height: 49px;
    letter-spacing: 2px; 
    font-weight: bolder;
    background-color: #1877f2;
    border:none;
}

#btn-login:hover{
    background-color: #006eff;
}


#fp{
    margin: 15px 0px 14px 0px;
    padding: 14px 0px 9px 0px;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 2px;
    color: #1876f2d2;
    
}

#fp:hover{
    text-decoration:underline;
    color: #1877f2;
}

#ca{
    text-decoration: none;
    /* font-size: 16px; */
    font-weight: bold;
    color: white;
    background-color: #42b72a;
    border:none;
    padding: 13px 19px;
    height:21px;
    width: 200px;
    text-align: center;
    /* align-self: center;   */
}

#ca:hover{
    background-color: #46c22e;
}

div + p{
    margin-top: 30px;
}

#cp{
    margin: 15px 0px 14px 0px;
    padding: 14px 0px 9px 0px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bolder;
    color: #000000;
}

#cp:hover{
    text-decoration: underline;
}

@media only screen and (max-width:360px) and (max-height:640px){
    .container{
        margin-top: 40px;
        display:flex;
        flex-flow:column wrap;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
    }
    .about{
        text-align:center;
    }

    .about p{
        font-size: 20px;
    }

    .about h1{
    font-size: 4rem;
    color:  #1877f2;
}


@media only screen and (max-width:414px) and (min-height:600px) and (max-height:823px){
    .container{
        margin-top: 40px;
        display:flex;
        flex-flow:column wrap;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
    }
    .about{
        text-align:center;
    }

    .about p{
        font-size: 20px;
    }

    .about h1{
    font-size: 4rem;
    color:  #1877f2;
}
