#home{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 3px 200px;
    height: 569px;
    color:white;
}

#home::before{ 
    content: "";
    position: absolute;
    background: url('../Images/bg1.jpg') no-repeat center center/cover;
    height: 642px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.89;

}

#home h1{
    margin: 10px auto;
    letter-spacing: 3px;
    word-spacing: 10px;
    text-align: center;
}

#home p{
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
}

.btn-home{
    margin: 30px 2px;
    border: 2px solid white;
    border-radius: 30px;
}

.btn-home:hover{
    background-color: rgba(165, 42, 42, 0.924);
}

.btn-home:focus{
    background-color: rgb(165, 42, 42);
}






